*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}

html {
  scroll-behavior: smooth;
}



.btn {
	width: 200px;
	height: 50px;
	margin: 30px;
}

.card{
	font-size: 15px;
}

.imgVince{
	width: 300px;
}

body{
	background: url("./../images/background5.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 400vh;
	margin-bottom: 0px;
}

.spacePad{
	padding: 60px
}




.webDig{
	font-size: 1.2rem;
}

.btn{
	font-size: 1.5rem;
	font-weight: bold;

}

.webDeveloper{
	font-size: large;
	font-weight: bold;
	color: #90EE90;
}

.digMarketer{
	font-size: large;
	font-weight: bold;
	color: #90EE90;
}

.projectContainer1{
	background-color: #FFFFFF;
  margin-bottom: 30px; 
}

.containerProject{
	margin: 35px;
	padding: 10px;
}




.deconstructed {
  position: relative;
  margin: auto;
  margin-right: 0px; 
  height: 0.71em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  color: white;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: green;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

.imageProject{
	height: 40vh;
}

.projectName{
	font-size: 150%;
  color: white;
  text-decoration: underline;
}

.containerForm{
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
}

.forms1{
 margin: 10px;
 height: 30px;
 width: 300px;
}

.forms2{
  margin: 10px;
  height: 150px;
  width: 600px;
}

.button1 {
  margin: 10px;
  margin-bottom: 40px;
  width: 20px
  height: 80px;
}

.contactForm{
  margin: 10px;
  color: white;

}


#footer1{
  padding: 20px;
  padding-left: 40px;
  padding bottom: 0px;
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  widows: 50vh;
  background-color: #000000;
}


.footerContent{
  margin: 10px;
  font-size: large;
  margin-bottom: 0px;
}


.contact1{
  margin: 10px;
}